Gemfile.lock
.envrc
pkg/
coverage/
docs-dev/
gemfiles/*.lock
spec/site/_site
spec/integration/site/_site

spec/site/.jekyll-cache/
.jekyll-cache/

.DS_Store
.*.sw[a-z]
Thumbs.db
nohup.out
tmp
*~
*.crcdownload
*.orig
