---
title: Documentation
---



	<div class="container">
    <h1>Documentation</h1>
    <p>
      Mostly what is in the readme. Moving the content of the readme here, maybe automatically.
    </p>
	</div>

