---
title: Examples
---



	<div class="container">
    <h1>Examples</h1>
    <p>
      Not really examples, need a better title.
    </p>

    <p>
      Explaining how to build a front-end with the data. Using the fork of the Hyde theme as an example.
      The theme uses an instantsearch-like experience, updating the whole page on search.
      We might also want to provide an autocomplete experience, with a dropdown similar to DocSearch (DocSearch might just work as-is)
    </p>
	</div>

