---
title: Community Boilerplate
---

	<div class="container">
    <h1>Algolia Jekyll plugin</h1>

    Let search into your blog or documentation

    Add search to your static webpages

    Host it and search for free
	</div>
