---
title: Algolia for Jekyll
---

	<div class="container">
    <h1>Algolia for Jekyll</h1>

    <p>Index all your blog posts or documentation into Algolia easily</p>

    <p>[See it live] [Get Started]</p>

    <p>Screenshot? Of a front-end, or a commandline indexing everything?</p>

    <p>`jekyll algolia push`</p>

    <div>
      <h3>Host if for free</h3>
      <p>Jekyll websites can already be hosted for free on GitHub pages.</p>
      <p>Why not add a great search to it as well?</p>
    </div>

    <p>
      Features
      - Open-Source
      - Index pages, posts, collections
      - Works well with other plugins
      - Hooks to fine-tune what to index
      - Compatible Jekyll 2.5 and Jekyll 3
    </p>

    <div>
      Showcase. List of users with screenshots, links and details. With a final "You?"
    </div>

    <p>Maybe YouTube video of the jekyllconf 5mn introduction?</p>

	</div>
