.hero {
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 290px;
    background: #fff;
    transform: skewY(-4deg);
    bottom: -90px;
    z-index: 2;
  }
  background-image:
    url(../assets/images/aerial-background-top.svg),
    url(../assets/images/aerial-background-bottom.svg),
    linear-gradient(to bottom, rgba(62, 56, 107, 0), #0e0740),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
    linear-gradient(#413b7e, #413b7e);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom left;
  background-size: 100%, 100%;
}

.hero-top {
  height: 544px;
  // background-image:
  //   url(../assets/images/aerial-background-top.svg),
  //   url(../assets/images/aerial-background-bottom.svg),
  //   linear-gradient(to bottom, rgba(62, 56, 107, 0), #0e0740),
  //   linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
  //   linear-gradient(#413b7e, #413b7e);
  // background-repeat: no-repeat, no-repeat;
  // background-position: top left, bottom left;
  // background-size: 100%, 100%;
}

.hero-animated {
  position: absolute;
  width: 560px;
  left: -110px;
  top: 150px;
}

.home-code {
  color: $logan;
  background-color: white;
  border-radius: 0;
  border: 0;
  line-height: 2;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(255,255,255,.8) 100%),
  }
}
// Section explain
.section-intro {

}

// Section explain
.section-explain {
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 240px;
    background: white;
    transform: skewY(-4deg);
    top: -90px;
    z-index: 2;
  }
}

.home-funnel {
  height: 825px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:
      url(../assets/images/illu-funnel.svg) 505px 0% no-repeat,
      url(../assets/images/touch-point.svg) 500px 285px no-repeat,
      url(../assets/images/touch-point.svg) 500px 435px no-repeat,
      url(../assets/images/servers.svg) 425px 100% no-repeat;
    pointer-events: none;
    z-index: 10;
  }
}
.funnel-extensible {
  margin-top: 245px;
}
.funnel-incremental {
  margin-top: 420px;
}

#text-lines {
  position: absolute;
  width: 640px;
  line-height: 1.1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);

  &:after {
    z-index: 10;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f8faff 0%, transparent 30%,  #f8faff 80%);
    top: 0;
    left: 0;
  }
}


.card {
  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 140px;
    background: #01adff;
    position: absolute;
    top: 40%;
    right: -100px;
    z-index: 0;
  }

  &.funnel-incremental:after {
    right: inherit;
    left: -100px;
  }
}


.section-conclusion {
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 240px;
    background: white;
    transform: skewY(-4deg);
    top: -90px;
    z-index: 2;
  }
}