.container {
  padding: 0;
  margin: auto;
}


@media (max-width: $screen-sm) {
  .row {
    margin: 0;
    padding: 0 1em;
  }
}

.hero {
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 290px;
    background: #fff;
    transform: skewY(-4deg);
    bottom: -90px;
    z-index: 2;
  }
  background-image:
    url(../assets/images/aerial-background-top.svg),
    url(../assets/images/aerial-background-bottom.svg),
    linear-gradient(to bottom, rgba(62, 56, 107, 0), #0e0740),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
    linear-gradient(#413b7e, #413b7e);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom left;
  background-size: 100%, 100%;

  @media (max-width: $screen-sm) {
    text-align: center;
  }
}

.hero-top {
  height: 544px;

  @media (max-width: $screen-sm) {
    flex-flow: row wrap;

    .text-heading {
      font-size: 28px;
    }
  }

  @media (max-width: $screen-lg) {

    .text-heading {
      font-size: 36px;
    }
  }
}

.hero-animated {
  position: absolute;
  width: 560px;
  left: -110px;
  top: 150px;

  @media (max-width: $screen-sm) {
    width: 316px;
    left: 0;
    right: 0;
    margin: auto;
  }

  @media (max-width: $screen-lg) {
    width: 420px;
    left: 0;
  }

  @media (max-width: $screen-md) {
    width: 360px;
    left: 0;
  }

  &:before,
  &:after {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(62,57,107, 0.4) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150"><g fill="none" fill-rule="evenodd"><circle cx="75" cy="75" r="70" stroke="%23FFF" stroke-width="6"/><path fill="%23FFF" d="M106 75l-47 25V50z"/></g></svg>');
    background-size:  150px;
    background-repeat: no-repeat;
    background-position:  center center, center center;
    z-index: 25;
    border-radius: 6px;
  }

  &:before {
    background: url(http://res.cloudinary.com/hilnmyskv/image/upload/q_10/v1516723333/minima-search_ay0ezw.png);
    background-size: 100%;
    z-index: 24;
  }

  &:hover:before,
  &:hover:after {
    display: none;
  }
}


.hero-bottom {
  @media (max-width: $screen-sm) {
    text-align: center;

    .align-right {
      text-align: center;
    }

    .flex-row-align-right {
      justify-content: center;
    }
  }
}

.home-code {
  color: $logan;
  background-color: white;
  border-radius: 0;
  border: 0;
  line-height: 2;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(255,255,255,.8) 100%),
  }
}
// Section explain
.section-intro {

  @media (max-width: $screen-sm) {
    .row.m600 {
      max-width: 100%;
      text-align: left;
    }
  }
}

.home-code {
  @media (max-width: $screen-sm) {
    font-size: 12px;
    max-width: 100%;
  }
}

// Section explain
.section-explain {
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 240px;
    background: white;
    transform: skewY(-4deg);
    top: -90px;
    z-index: 2;
  }
}

.home-funnel {
  height: 825px;

  @media (max-width: $screen-sm) {
    height: 1400px;

    .col-md-5:not(:last-child) {
      &:before {
        content: '';
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: 20;
        top: -350px;
        left: 0;
        right: 0;
        margin: auto;
        background: url(../assets/images/illu-funnel.svg) no-repeat center center / contain;
      }
    }

    .col-md-5:last-child {
      margin-top: 110px;
      &:before {
        content: '';
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: 20;
        bottom: -350px;
        left: 0;
        right: 0;
        margin: auto;
        background: url(../assets/images/servers.svg) no-repeat center center / contain;
      }
    }
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:
      url(../assets/images/illu-funnel.svg) center 0% no-repeat,
      url(../assets/images/touch-point.svg) calc(50% - 10px) 285px no-repeat,
      url(../assets/images/touch-point.svg) calc(50% - 10px) 435px no-repeat,
      url(../assets/images/servers.svg) center 100% no-repeat;
    pointer-events: none;
    z-index: 10;

    @media (max-width: $screen-sm) {
      background: none
    }
  }
}
.funnel-extensible {
  margin-top: 240px;
  @media (max-width: $screen-sm) {
    margin-top: 200px;
  }
}
.funnel-incremental {
  margin-top: 420px;

  @media (max-width: $screen-sm) {
    margin-top: 80px;
    margin-bottom: 120px;
  }
}

#text-lines {
  position: absolute;
  width: 640px;
  line-height: 1.1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);

  &:after {
    z-index: 10;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f8faff 0%, rgba(#f8faff, 0) 30%,  #f8faff 80%);
    top: 0;
    left: 0;
  }

  @media (max-width: $screen-sm) {
    width: 1000px;

    &:after {
      background: linear-gradient(to right, #f8faff, rgba(#f8faff, 0) 10%, #f8faff)
    }
  }
}


.card {
  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 140px;
    background: rgba(#01adff, 0.2);
    position: absolute;
    top: 35%;
    right: -100px;
    z-index: 0;
  }

  @media (max-width: $screen-sm) {
    &:after {
      display: none;
    }
    &:before {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      z-index: 20;
      top: -50px;
      left: 0;
      right: 0;
      margin: auto;
      background: url(../assets/images/touch-point.svg)no-repeat center center / contain;
    }
  }

  &.funnel-incremental{
    &:after {
      right: inherit;
      left: -120px;
    }

    animation-direction: reverse
  }

  will-change: transform;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @media (max-width: $screen-sm) {
    animation: none
  }
}


.section-conclusion {
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 240px;
    background: white;
    transform: skewY(-4deg);
    top: -90px;
    z-index: 2;
  }

    @media (max-width: $screen-sm) {
    .row.m600 {
      max-width: 100%;
      text-align: left;
    }
  }
}


