/**
 * Algolia components - community header
 * Light theme
 */

// Navigation
.algc-navigation {
  background: $white;
  box-shadow: 0 10px 40px 0 rgba($bunting,0.07), 0 2px 9px 0 rgba($bunting,0.06); }


.algc-navigation__brands a,
.algc-navigation__menu .algc-menu__list a {
  color: $bunting;
  font-weight: 400;

  &:hover {
    color: $deep-cove;
    text-decoration: none; } }


.algc-menu__search .algc-search__input button svg path {
  fill: $bunting !important; }


.algc-menu__search--holder.open input[type="search"] {
  max-width: 240px;
  background: rgba($bunting, 0.1);
  color: $bunting;
  transform: translate(-240px);

  @media (max-width: $screen-sm) {
    transform: translate(-140px); }

  &::-webkit-input-placeholder {
    color: $bunting; }
  &:-moz-placeholder {
    color: $bunting; }
  &::-moz-placeholder {
    color: $bunting; }
  &:-ms-input-placeholder {
    color: $bunting; } }




.algc-menu__search--holder.open button#search {
  transform: translate(calc(-240px + 4em), -50%);
  @media (max-width: $screen-sm) {
    transform: translate(calc(-140px + 4em), -50%); } }

.algc-navigation__brands svg.algc-arrowseparator path {
  fill: $logan; }


// Dropdown
.algc-navigation__menu .algc-menu__sublist:before {
  display: none; }

.algc-dropdownroot {
  .algc-dropdownroot__dropdownarrow {
    background: #F7F7FF; }


  &.activeDropdown .algc-dropdownroot__dropdownbg {
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1), 0 -4px 16px rgba(50, 50, 93,0.1); } }


.algc-dropdownroot__widelist li h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  display: block; }
// Mobile
.algc-openmobile {
  background: #332e58;
  border-radius: 6px; }

.algc-mobilemenu {
  background: #f8faff;
  &:after {
    display: none; }

  a {
    color: $bunting; }
  .algc-mobilemenu__item:after {
    background: linear-gradient(76deg, rgba(#211e39, 0.01) 0%, rgba(#211e39, 0) 18%, #211e39 46%, rgba(#6a7599, 0.7) 93%, rgba(#6a7599, 0) 100%); } }



@media only screen and (max-width: $screen-sm) {
  .algc-navigation__brands .algc-navigation__li.algc-navigation__li--community {
    width: 45px !important;
    overflow: hidden !important; } }



/**
 * Simple search input design
 * Make a search input as simple as possible
 * Crossbrowser & with themes
 *
 * Author: @lukyvj
 *
 * API:
 *
 * $regularBackground: rgba(255,255,255,0.1),
 * $regularColor: #fff,
 *
 * $lightBackground: rgba(0,0,0,0.1),
 * $lightColor: #000,
 *
 * $darkBackground: rgba(255,255,255,0.2),
 * $darkColor: #FFF,
 *
 * $buttonWidth: 24px,
 * $buttonHeight: 24px,
 *
 * $expandedWidth: 200px
 */

 @keyframes appear {
  100% {
    opacity: 1;
  }
 }
/**
 * Mixins
 *
 */
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin simpleSearchInput(
  $regularBackground: rgba(255,255,255,0.1),
  $regularColor: #fff,

  $lightBackground: rgba(0,0,0,0.1),
  $lightColor: #000,

  $darkBackground: rgba(255,255,255,0.2),
  $darkColor: #FFF,

  $buttonWidth: 24px,
  $buttonHeight: 26px,

  $expandedWidth: 200px
) {
  .search-holder {
    overflow: hidden;
    border-radius: 4px;
  }

  input[type="search"] {
    -webkit-appearance: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 7px 28px 7px 10px;
    border-radius: 4px;
    background: $regularBackground !important;
    color: $regularColor;
    color: rgba($regularColor,0.5);
    font-size: 13px !important;
    line-height: 1.35;
    font-weight: 400;
    width: 145px;
    transition: width 0.1s ease, background 0.1s ease, color 0.1s ease;
    will-change: width, background, color;

    @include placeholder {
      color: rgba($regularColor,0.5);
    }


    @media (max-width: $screen-sm) {
      width: 100px;

      &:focus,
      &:active {
        width: 100px !important
      }
    }



    &:focus,
    &:active {
      width: $expandedWidth;
      background: rgba($regularColor, 1) !important;
      color: rgba(darken($regularColor, 75%),0.6);
      @include placeholder {
        color: rgba(darken($regularColor, 75%),0.6);
      }

      &~ button svg {
        stroke: rgba(darken($regularColor, 75%),0.5);
      }
    }

    // Themes
    [data-theme="light"] & {
      background: $lightBackground !important;
      color: $lightColor;
      color: rgba($lightColor,0.5);
      @include placeholder {
        color: rgba($lightColor,0.5);
      }

      &~ button {
        svg {
          stroke: rgba($lightColor,0.5)
        }
      }

      &:focus,
      &:active {
        background: rgba(#46437c, 1) !important;
        color: rgba(lighten(#46437c, 95%),1);
        @include placeholder {
          color: rgba(lighten(#46437c, 95%),1);
        }

        &~ button svg {
          stroke: rgba(lighten(#46437c, 95%),1);
        }
      }
    }

    [data-theme="dark"] & {
      background: $darkBackground !important;
      color: $darkColor;
      color: rgba($darkColor,0.6);
      @include placeholder {
        color: rgba($darkColor,0.6);
      }

      &~ button {
        svg {
          stroke: rgba($darkColor,0.6)
        }
      }

      &:focus,
      &:active {
        background: rgba($darkColor, 1) !important;
        color: rgba(darken($darkColor, 95%),0.6);
        @include placeholder {
          color: rgba(darken($darkColor, 95%),0.6);
        }

        &~ button svg {
          stroke: rgba(darken($darkColor, 95%),0.5);
        }
      }
    }
  }

  .algolia-autocomplete ~ button#search {
    display: inline-block;
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
    position: relative;
    width: $buttonWidth;
    height: $buttonHeight;
    top: 10px;
    left: -$buttonWidth - 4px;
    text-align: center;
    line-height: $buttonHeight;
    margin: 0;
    opacity: 1 !important;
    display: inline-block !important;
    will-change: opacity;

    svg {
      stroke: rgba($regularColor, 0.6)
    }
  }

  .algolia-autocomplete.opened ~ button#search {
    svg > g{
      stroke: rgba(white, 0.6) !important
    }
  }

  @content
}
/**
 * Style input
*/
$params: (
  regularBackground: rgba(255,255,255,0.1),
  regularColor: #fff,
  lightBackground: rgba(0,0,0,0.1),
  lightColor: #000,
  darkBackground: rgba(255,255,255,0.2),
  darkColor: #FFF,
  buttonWidth: 28px,
  buttonHeight: 32px,
  expandedWidth: 180px
);
@include simpleSearchInput($params...) {}

.algolia-autocomplete .ds-dropdown-menu {
  min-width: 430px;
  max-width: 430px;
}
.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
  padding: 0;
}

.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu:before {
  left: 80px;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
  font-weight: 500;
}