extends ./common/meta.pug

block body
  section.documentation-section
    .container
      nav.sidebar.pos-abt.z-100
        .sidebar-container
          each category in sidebarMenu
            h2.sidebar-header.text-bold=category['title']
            ul.sidebar-elements
              each item in category['items']
                li.sidebar-element
                  a(href=item['url'])=item['title']

      a.sidebar-opener
      .documentation-container
        !=contents
