extends ./common/meta.pug

block body

  section.hero.pos-rel
    .spacer32.visible-sm
    .flex-container.hero-top.container
      .flex-it-2.flex-it-1-sm.flex-container.flex-center
        .flex-none.flex-it-1-sm
          .text-heading.color-titan-white.text-bold Algolia for Jekyll
          .color-titan-white.text-regular.text-thin Add fast and relevant search to your Jekyll site
          .spacer32
          a.btn.color-purple-heart.fill-titan-white.text-bold.elevation0.m-t-large.p-small.p-l-xlarge.p-r-xlarge.h-auto(href="getting-started.html").
            <span class="gradient-blue-purple gradient-text">Read the documentation</span><i class="icon icon-arrow-right m-l-small"></i>
      .flex-it-2.flex-it-1-sm.flex-row-center-horizontal
        .flex-none
          .spacer64
          .relative
            img.hero-markdown(src="./assets/images/markdown.svg")
            .hero-animated
              img.js-freeze.w100p.radius6.elevation2.pos-rel.z-20(src="http://res.cloudinary.com/hilnmyskv/image/upload/v1516723333/minima-search_ay0ezw.gif")
    .spacer120.visible-sm
    .spacer40.visible-sm
    .flex-container.hero-bottom
      .flex-it-2.flex-it-1-sm.flex-dir-col.p-xlarge.pos-rel.z-10
        .flex-none.align-right.text-lg Demo
        .spacer16
        .flex-container.flex-dir-row.flex-row-align-right
          a.flex-none.m-r-large.color-bunting.p-r-large.p-l-large.p-t-small.p-b-small.radius6.fill-athens-gray(href="")
            i.icon.icon-github.m-r-small
            | GitHub
          a.flex-none.color-bunting.p-r-large.p-l-large.p-t-small.p-b-small.radius6.fill-athens-gray(href="")
            i.icon.icon-play.m-r-small
            | Live Demo

  section.section-intro.pos-rel
    .spacer120.hidden-sm
    .spacer40.visible-sm
    .container.z-10.pos-rel
      .row.m600.m-l-r-auto.text-center
        h3.text-thin.text-lg Automatic Indexing
        .spacer16
        p.color-logan.text-regular.text-normal
          | Plug in your Algolia API keys and run #[code jekyll algolia]. The plugin will
          | traverse all your posts, pages and custom collections and push them to
          | your index.

      .spacer16
      .row.m600.m-l-r-auto
        pre.home-code
          .color-bunting.
            <span class="text-bold">$</span> <span class="color-royal-blue">bundle exec</span> <span class="color-radical-red text-bold">jekyll algolia</span>
            <span class="text-bold">~</span> Configuration file: <span class="color-royal-blue">/home/user/jekyll-website/_config.yml</span>
            <span class="text-bold">~</span> Processing site...
            <span class="text-bold">~</span> Extracting records...
            <span class="text-bold">~</span> Updating records in index <span class="color-royal-blue">jekyll-website</span>...
            <span class="text-bold">~</span> Pushing <span class="color-radical-red text-bold">822</span> records
            <span class="color-royal-blue text-bold">✔</span> Indexing complete

  section.section-explain.fill-titan.pos-rel
    .container.z-10
      .col-md-12.col-sm-12.home-funnel
        .spacer120.visible-sm
        .spacer120.visible-sm
        .col-md-5.col-sm-5
          .card.pos-rel.z-10.funnel-extensible.animate-me
            .pos-rel.z-10.fill-white.elevation2.radius6.p-xlarge
              h2.text-lg.text-thin.m-t-none Extensible
              .spacer8
              p.text-regular.text-thin.color-east-bay
                | Customize which files are indexed and many other behaviors using
                | a variety of configuration options. You can even add your own
                | custom Ruby hooks into the plugin lifecycle to get the exact
                | output you want.

        .col-md-2.col-sm-2.pos-rel.h700.hidden-sm.z-2
          p#text-lines.w100p.m-l-n-small.faded Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure fuga vero ea ipsa aspernatur dolore tempora est facere quam temporibus similique, expedita.

        .col-md-2.col-sm-2.pos-rel.visible-sm
          p#text-lines.w100p.faded Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure fuga vero ea ipsa aspernatur dolore tempora est facere quam temporibus similique, expedita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure fuga vero ea ipsa


        .col-md-5.col-sm-5
          .card.pos-rel.funnel-incremental.animate-me
            .pos-rel.z-10.fill-white.elevation2.radius6.p-xlarge
              h2.text-lg.text-thin.m-t-none Incremental
              .spacer8
              p.text-regular.text-thin.color-east-bay
                | The plugin is smart enough to only index content that changed
                | between two runs. This helps make the most out of your Algolia
                | quota.
  section.section-conclusion.fill-white.pos-rel
    .spacer48.hidden-sm
    .spacer64.visible-sm
    .container.pos-rel.z-10
      .row.m600.m-l-r-auto.text-center
        h3.text-thin.text-lg Index on deploy
        .spacer16
        p.color-logan.text-regular.text-normal
          | If your website is hosted on Netlify or GitHub Pages, the plugin can
          | automatically re-index your content on each deploy. This keeps your search
          | and your site in sync!

    .spacer120
    .spacer120.hidden-sm
