extends ./common/meta.pug

block body

  section.hero
    .flex-container.hero-top
      .flex-it-2.flex-container.flex-center
        .flex-none.w75
          .text-heading.color-titan-white.text-bold Algolia for Jekyll
          .color-titan-white.text-bg.text-thin Add fast and relevant search to your Jekyll site
          a.btn.color-purple-heart.fill-titan-white.text-bold.elevation0.m-t-large(href="getting-started.html").
            Read the documentation
            <i class="icon icon-arrow-right"></i>
      .flex-it-2.flex-row-center-horizontal
        .flex-none.w50
          .spacer64
          .relative
            img.hero-markdown(src="./assets/images/markdown.svg")
            .hero-animated
              img.w100p(src="./assets/images/minima-search.gif")
    .flex-container.hero-bottom
      .flex-it-2.flex-dir-col.p-xlarge
        .flex-none.align-right.text-xxl Demo
        .flex-container.flex-dir-row.flex-row-align-right
          a.flex-none.m-r-large.color-bunting.p-r-large.p-l-large.p-t-small.p-b-small.radius6.fill-athens-gray(href="") 
            i.icon.icon-github.m-r-small
            | GitHub
          a.flex-none.color-bunting.p-r-large.p-l-large.p-t-small.p-b-small.radius6.fill-athens-gray(href="") 
            i.icon.icon-play.m-r-small
            | Live Demo


  +feature({
    title: "Automatic indexing", 
  })
    | Plug in your Algolia API keys and run 
    code jekyll algolia
    |. The plugin will
    | traverse all your posts, pages and custom collections and push them to
    | your index.
  +feature({
    title: "Extensible", 
    flip: true
  })
    | Customize which files are indexed and many other behaviors using a variety
    | of 
    a(href="./options.html") configuration options
    |. You can even add your own custom 
    a(href="./hooks.html") Ruby hooks 
    | into the plugin lifecycle to get the exact output you want.
  +feature({
    title: "Incremental indexing", 
  })
    | The plugin is smart enough to only index content that changed between two
    | runs. This helps make the most out of your Algolia quota.
  +feature({
    title: "Index on deploy", 
    flip: true
  })
    | If your website is hosted on Netlify or GitHub Pages, the plugin can
    | automatically re-index your content on each deploy. This keeps your search
    | and your site in sync!

  section.row.fill-white.p-xlarge.m-l-none.m-r-none.pos-rel
    .container
      .inline.spacer80
      .col-md-12.z-10.text-center.row
        header
          h3.no-p-t.m-t-none.text-thin Demo

        .spacer40
        .row.h100.logos-container
          .col-md-6.col-md-offset-3
            .card.fill-white.elevation1.radius6.p-large.text-center
              p Blog Search
              a(href="https://community.algolia.com/jekyll-algolia-example/")
                figure
                  img(src="assets/images/minima-search.gif", alt="Blog search demo", width="100%")
                  figcaption Blog search
              p 
                a(href="./blog.html") Tutorial
                |   |  
                a(href="https://github.com/algolia/jekyll-algolia-example") GitHub
                |   |  
                a(href="https://community.algolia.com/jekyll-algolia-example/") Live demo


        .spacer40.inline
